
x-db-env: &db_env
  POSTGRES_USER: ${POSTGRES_USER:-sure_user}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-sure_password}
  POSTGRES_DB: ${POSTGRES_DB:-sure_production}

x-rails-env: &rails_env
  <<: *db_env
  SECRET_KEY_BASE: ${SECRET_KEY_BASE:-a7523c3d0ae56415046ad8abae168d71074a79534a7062258f8d1d51ac2f76d3c3bc86d86b6b0b307df30d9a6a90a2066a3fa9e67c5e6f374dbd7dd4e0778e13}
  SELF_HOSTED: "true"
  RAILS_FORCE_SSL: "false"
  RAILS_ASSUME_SSL: "false"
  DB_HOST: db
  DB_PORT: 5432
  REDIS_URL: redis://redis:6379/1
  # NOTE: enabling OpenAI will incur costs when you use AI-related features in the app (chat, rules).  Make sure you have set appropriate spend limits on your account before adding this.
  OPENAI_ACCESS_TOKEN: ${OPENAI_ACCESS_TOKEN}

services:
  redis:
    image: redis
    container_name: sure-redis
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - redis-data:/var/lib/postgresql

  db:
    image: postgres
    container_name: sure-db
    restart: unless-stopped
    environment:
      <<: *db_env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - data:/var/lib/postgresql

  worker:
    image: ghcr.io/we-promise/sure:stable
    command: bundle exec sidekiq
    container_name: sure-worker
    restart: unless-stopped
    environment:
      <<: *rails_env
    volumes:
      - storage:/rails/storage
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  web:
    image: ghcr.io/we-promise/sure:stable
    container_name: sure-web
    restart: unless-stopped
    environment:
      <<: *rails_env
    ports:
      - ${PORT:-3000}:3000
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - storage:/rails/storage

  db-backup:
    container_name: sure-db-backup
    image: ghcr.io/tiredofit/docker-db-backup
    links:
      - db
    volumes:
      - ${HOME}/backups/database/sure:/backup
      - ${HOME}/raspberry/scripts/backup-pre-script.sh:/assets/scripts/pre/script.sh
      - ${HOME}/raspberry/scripts/backup-post-script.sh:/assets/scripts/post/script.sh
    environment:
      # - DEBUG_MODE=TRUE
      - DB01_TYPE=pgsql
      - DB01_HOST=db
      - DB01_NAME=${POSTGRES_DB}
      - DEFAULT_AUTH=${POSTGRES_DB}
      - DB01_USER=${POSTGRES_USER}
      - DB01_PASS=${POSTGRES_PASSWORD}
      # - DEFAULT_BACKUP_BEGIN=0000      # backup starts immediately
      - DEFAULT_BACKUP_INTERVAL=1440 # backup every x minute - 1440 = 1 day
      - DEFAULT_CLEANUP_TIME=11520 # clean backups they are older than x minute - 11520 = 8 days
      - DEFAULT_CHECKSUM=SHA1
      - DEFAULT_COMPRESSION=GZ
      - DB01_SPLIT_DB=FALSE
      - CONTAINER_ENABLE_MONITORING=FALSE
      - TIMEZONE=${TZ}
      - USER_DBBACKUP=1000
      - GROUP_DBBACKUP=1000
    restart: unless-stopped

volumes:
  redis-data:
  storage:
  data:
