
x-db-env: &db_env
  POSTGRES_USER: ${POSTGRES_USER:-sure_user}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-sure_password}
  POSTGRES_DB: ${POSTGRES_DB:-sure_production}

x-rails-env: &rails_env
  <<: *db_env
  SECRET_KEY_BASE: ${SECRET_KEY_BASE:-a7523c3d0ae56415046ad8abae168d71074a79534a7062258f8d1d51ac2f76d3c3bc86d86b6b0b307df30d9a6a90a2066a3fa9e67c5e6f374dbd7dd4e0778e13}
  SELF_HOSTED: "true"
  RAILS_FORCE_SSL: "false"
  RAILS_ASSUME_SSL: "false"
  DB_HOST: db
  DB_PORT: 5432
  REDIS_URL: redis://redis:6379/1
  # NOTE: enabling OpenAI will incur costs when you use AI-related features in the app (chat, rules).  Make sure you have set appropriate spend limits on your account before adding this.
  OPENAI_ACCESS_TOKEN: ${OPENAI_ACCESS_TOKEN}

services:
  db:
    image: postgres
    container_name: sure-db
    restart: unless-stopped
    environment:
      <<: *db_env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - data:/var/lib/postgresql

  worker:
    image: ghcr.io/we-promise/sure:stable
    command: bundle exec sidekiq
    container_name: sure-worker
    restart: unless-stopped
    environment:
      <<: *rails_env
    volumes:
      - storage:/rails/storage
    depends_on:
      db:
        condition: service_healthy

  web:
    image: ghcr.io/we-promise/sure:stable
    container_name: sure-web
    restart: unless-stopped
    environment:
      <<: *rails_env
    ports:
      - ${PORT:-3000}:3000
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - storage:/rails/storage

volumes:
  storage:
  data:
