services:
  memos:
    image: neosmemo/memos:latest
    container_name: memos
    restart: unless-stopped
    env_file: .env
    volumes:
      - memos:/var/opt/memos
    ports:
      - ${PORT}:5230
    depends_on:
      - db

  db:
    image: postgres:17.6
    container_name: memos-db
    restart: unless-stopped
    env_file: .env
    healthcheck:
      test:
        ['CMD-SHELL', 'pg_isready -d "$${POSTGRES_DB}" -U $${POSTGRES_USER}']
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - data:/var/lib/postgresql/data/

  db-backup:
    container_name: memos-db-backup
    image: ghcr.io/tiredofit/docker-db-backup
    links:
      - memos
    volumes:
      - ${HOME}/backups/memos:/backup
      - ~/raspberry/scripts/backup-pre-script.sh:/assets/scripts/pre/script.sh:rwx
      - ~/raspberry/scripts/backup-post-script.sh:/assets/scripts/post/script.sh:rwx
      - memos:/var/opt/memos
    environment:
      # - DEBUG_MODE=TRUE
      - DB01_TYPE=pgsql
      - DB01_HOST=${POSTGRES_HOST}
      - DB01_NAME=${POSTGRES_DB}
      - DEFAULT_AUTH=${POSTGRES_DB}
      - DB01_USER=${POSTGRES_USER}
      - DB01_PASS=${POSTGRES_PASSWORD}
      - DB01_PORT=${POSTGRES_PORT}
      - DB01_SPLIT_DB=FALSE
      # - DEFAULT_BACKUP_BEGIN=0000    # backup starts immediately
      - DEFAULT_BACKUP_INTERVAL=1440       # backup every x minute - 1440 = 1 day
      - DEFAULT_CLEANUP_TIME=11520   # clean backups they are older than x minute - 11520 = 8 days
      - DEFAULT_CHECKSUM=SHA1
      - DEFAULT_COMPRESSION=GZ
      - CONTAINER_ENABLE_MONITORING=FALSE
      - TIMEZONE=${TZ}
      - USER_DBBACKUP=1000
      - GROUP_DBBACKUP=1000
    restart: unless-stopped

volumes:
   memos:
   data: