services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id
    container_name: pocket-id
    restart: unless-stopped
    env_file: .env
    # environment:
    #   - TZ=${TZ}
    ports:
      - ${PORT}:1411
    healthcheck:
      test: "curl -f http://localhost:${PORT}/healthz"
      interval: 1m30s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - pocket-id:/app/data
    depends_on:
      - db

  db:
    image: postgres
    container_name: pocket-id-db
    restart: unless-stopped
    env_file: .env
    healthcheck:
      test:
        ['CMD-SHELL', 'pg_isready -d "$${POSTGRES_DB}" -U $${POSTGRES_USER}']
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - data:/var/lib/postgresql/data/

  db-backup:
    image: rostislavdugin/postgresus:latest
    container_name: pocket-id-db-backup
    restart: unless-stopped
    env_file: .env
    ports:
      - ${PORT_BACKUP}:4005
    depends_on:
      - db
    volumes:
      - /home/ezcafe/backups/pocket-id:/postgresus-data

volumes:
  pocket-id:
  data:

