services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id
    container_name: pocket-id
    restart: unless-stopped
    env_file: .env
    # environment:
    #   - TZ=${TZ}
    ports:
      - ${PORT}:1411
    healthcheck:
      test: curl -f http://localhost:${PORT}/healthz
      interval: 1m30s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - pocket-id:/app/data
    depends_on:
      - db
  db:
    image: postgres:17.6
    container_name: pocket-id-db
    restart: unless-stopped
    env_file: .env
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d "$${POSTGRES_DB}" -U $${POSTGRES_USER}
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - data:/var/lib/postgresql/data/
  db-backup:
    container_name: pocket-id-db-backup
    image: ghcr.io/tiredofit/docker-db-backup
    links:
      - pocket-id
    volumes:
      - ${HOME}/backups/database/pocket-id:/backup
      - ~/raspberry/scripts/backup-pre-script.sh:/assets/scripts/pre/script.sh
      - ~/raspberry/scripts/backup-post-script.sh:/assets/scripts/post/script.sh
      - pocket-id:/app/data
    environment:
      # - DEBUG_MODE=TRUE
      - DB01_TYPE=pgsql
      - DB01_HOST=${POSTGRES_HOST}
      - DB01_NAME=${POSTGRES_DB}
      - DEFAULT_AUTH=${POSTGRES_DB}
      - DB01_USER=${POSTGRES_USER}
      - DB01_PASS=${POSTGRES_PASSWORD}
      - DB01_PORT=${POSTGRES_PORT}
      - DB01_SPLIT_DB=FALSE
      # - DEFAULT_BACKUP_BEGIN=0000    # backup starts immediately
      - DEFAULT_BACKUP_INTERVAL=1440 # backup every x minute - 1440 = 1 day
      - DEFAULT_CLEANUP_TIME=11520 # clean backups they are older than x minute - 11520 = 8 days
      - DEFAULT_CHECKSUM=SHA1
      - DEFAULT_COMPRESSION=GZ
      - DB01_SPLIT_DB=FALSE
      - CONTAINER_ENABLE_MONITORING=FALSE
      - TIMEZONE=${TZ}
      - USER_DBBACKUP=1000
      - GROUP_DBBACKUP=1000
    restart: unless-stopped
volumes:
  pocket-id: null
  data: null
networks: {}
