services:
  db:
    image: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_HOST=${DB_HOST}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - TZ=${TZ}
    volumes:
      - db_volume:/var/lib/postgresql
    healthcheck:
      test:
        - CMD
        - pg_isready
        - -U
        - ${DB_USER}
      interval: 10s
      timeout: 5s
      retries: 5
    container_name: miniflux-db
  db-backup:
    container_name: miniflux-db-backup
    image: ghcr.io/tiredofit/docker-db-backup
    links:
      - db
    volumes:
      - ${HOME}/backups/database/miniflux:/backup
      - ${HOME}/raspberry/scripts/backup-pre-script.sh:/assets/scripts/pre/script.sh
      - ${HOME}/raspberry/scripts/backup-post-script.sh:/assets/scripts/post/script.sh
    environment:
      # - DEBUG_MODE=TRUE
      - DB01_TYPE=pgsql
      - DB01_HOST=${DB_HOST}
      - DB01_NAME=${DB_NAME}
      - DEFAULT_AUTH=${DB_NAME}
      - DB01_USER=${DB_USER}
      - DB01_PASS=${DB_PASS}
      # - DEFAULT_BACKUP_BEGIN=0000      # backup starts immediately
      - DEFAULT_BACKUP_INTERVAL=1440 # backup every x minute - 1440 = 1 day
      - DEFAULT_CLEANUP_TIME=11520 # clean backups they are older than x minute - 11520 = 8 days
      - DEFAULT_CHECKSUM=SHA1
      - DEFAULT_COMPRESSION=GZ
      - DB01_SPLIT_DB=FALSE
      - CONTAINER_ENABLE_MONITORING=FALSE
      - TIMEZONE=${TZ}
      - USER_DBBACKUP=1000
      - GROUP_DBBACKUP=1000
    restart: unless-stopped
  app:
    image: miniflux/miniflux:latest
    restart: unless-stopped
    ports:
      - ${PORT}:8080
    links:
      - db
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=user=${DB_USER} password=${DB_PASS} dbname=${DB_NAME}
        host=${DB_HOST} sslmode=disable
      - RUN_MIGRATIONS=1
      # - CREATE_ADMIN=1
      # - ADMIN_USERNAME=${ADMIN_USERNAME}
      # - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      # - INVIDIOUS_INSTANCE=${INVIDIOUS_INSTANCE}
      - OAUTH2_PROVIDER=${OAUTH2_PROVIDER}
      - OAUTH2_CLIENT_ID=${OAUTH2_CLIENT_ID}
      - OAUTH2_CLIENT_SECRET=${OAUTH2_CLIENT_SECRET}
      - OAUTH2_OIDC_PROVIDER_NAME=Passkey
      - OAUTH2_REDIRECT_URL=${OAUTH2_REDIRECT_URL}
      - OAUTH2_OIDC_DISCOVERY_ENDPOINT=${OAUTH2_OIDC_DISCOVERY_ENDPOINT}
      - OAUTH2_USER_CREATION=${OAUTH2_USER_CREATION}
      - TZ=${TZ}
    healthcheck:
      test:
        - CMD
        - /usr/bin/miniflux
        - -healthcheck
        - auto
    container_name: miniflux
volumes:
  db_volume: null
networks: {}
