services:
  db:
    image: postgres:latest
    restart: unless-stopped
    environment:
      - POSTGRES_HOST=${DB_HOST}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - TZ=${TZ}
    volumes:
      - db_volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    container_name: miniflux-db

  db-backup:
    image: rostislavdugin/postgresus:latest
    container_name: miniflux-db-backup
    restart: unless-stopped
    env_file: .env
    ports:
      - ${PORT_BACKUP}:4005
    depends_on:
      - db
    volumes:
      - /home/ezcafe/backups/miniflux:/postgresus-data

  app:
    image: miniflux/miniflux:latest
    restart: unless-stopped
    ports:
      - ${PORT}:8080
    links:
      - db
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=user=${DB_USER} password=${DB_PASS} dbname=${DB_NAME} host=${DB_HOST} sslmode=disable
      - RUN_MIGRATIONS=1
      # - CREATE_ADMIN=1
      # - ADMIN_USERNAME=${ADMIN_USERNAME}
      # - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      # - INVIDIOUS_INSTANCE=${INVIDIOUS_INSTANCE}
      - OAUTH2_PROVIDER=${OAUTH2_PROVIDER}
      - OAUTH2_CLIENT_ID=${OAUTH2_CLIENT_ID}
      - OAUTH2_CLIENT_SECRET=${OAUTH2_CLIENT_SECRET}
      - OAUTH2_OIDC_PROVIDER_NAME=Passkey
      - OAUTH2_REDIRECT_URL=${OAUTH2_REDIRECT_URL}
      - OAUTH2_OIDC_DISCOVERY_ENDPOINT=${OAUTH2_OIDC_DISCOVERY_ENDPOINT}
      - OAUTH2_USER_CREATION=${OAUTH2_USER_CREATION}
      - TZ=${TZ}
    healthcheck:
     test: ["CMD", "/usr/bin/miniflux", "-healthcheck", "auto"]
    container_name: miniflux

volumes:
  db_volume: