services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    restart: unless-stopped
    environment:
      # - PUID=1000
      # - PGID=1000
      - TZ=${TZ}
    # ports:
    #   - ${PORT}:8123
    # required to connect homekit, HA and homekit devices must be on the same network (wifi router)
    network_mode: host
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      # - ${HOME}/media:/media
    depends_on:
      - mosquitto
    privileged: true
    devices:
      # https://www.home-assistant.io/integrations/zha/#cant-connect-to-usb-device-and-using-docker
      - /dev/ttyUSB0:/dev/ttyUSB0

  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    ports:
      - 1883:1883
    volumes:
      - ./mosquitto/config:/mosquitto/config:rw
      - ./mosquitto/data:/mosquitto/data:rw
      - ./mosquitto/log:/mosquitto/log:rw
    stdin_open: true
    tty: true

  # music-assistant-server:
  #   image: ghcr.io/music-assistant/server:latest # <<< Desired release version here (or use beta to get the latest beta version)
  #   container_name: music-assistant-server
  #   restart: unless-stopped
  #   # Network mode must be set to host for MA to work correctly
  #   network_mode: host
  #   volumes:
  #     - ${HOME}/media:/data/
  #   # privileged caps (and security-opt) needed to mount smb folders within the container
  #   cap_add:
  #     - SYS_ADMIN
  #     - DAC_READ_SEARCH
  #   security_opt:
  #     - apparmor:unconfined
  #   environment:
  #     # Provide logging level as environment variable.
  #     # default=info, possible=(critical, error, warning, info, debug)
  #     - LOG_LEVEL=info

