version: '3'

services:
  linkding:
    container_name: linkding
    image: sissbruecker/linkding:latest
    ports:
      - "${PORT}:9090"
    volumes:
      - linkding_data:/etc/linkding/data
    restart: unless-stopped

  db-backup:
    container_name: linkding-db-backup
    image: ghcr.io/tiredofit/docker-db-backup
    links:
    - linkding
    volumes:
      - ${HOME}/backups/linkding:/backup
      - ${HOME}/raspberry/scripts/backup-post-script.sh:/assets/custom-scripts/post-script.sh
      - linkding_data:/etc/linkding/data
    environment:
      # - DEBUG_MODE=TRUE
      - DB01_TYPE=sqlite3
      - DB01_HOST=/etc/linkding/data/db.sqlite3
      # - DB01_NAME=${DB_NAME}
      # - DB01_USER=${DB_USER}
      # - DB01_PASS=${DB_PASS}
      # - DEFAULT_BACKUP_BEGIN=0000      # backup starts immediately
      - DEFAULT_BACKUP_INTERVAL=1440       # backup every x minute - 1440 = 1 day
      - DEFAULT_CLEANUP_TIME=11520   # clean backups they are older than x minute - 11520 = 8 days
      - DEFAULT_CHECKSUM=SHA1
      - DEFAULT_COMPRESSION=GZ
      - DB01_SPLIT_DB=FALSE
      - CONTAINER_ENABLE_MONITORING=FALSE
      - TIMEZONE=${TZ}
    restart: unless-stopped

volumes:
  linkding_data: