version: '2.4'

services:

  frontend:
    image: "grocy/frontend:v3.3.2"
    container_name: grocy
    depends_on:
      - backend
    ports:
      - '${PORT}:8080'
    read_only: true
    tmpfs:
      - /tmp
    restart: unless-stopped

  backend:
    image: "grocy/backend:v3.3.2"
    container_name: grocy-db
    expose:
      - '9000'
    read_only: true
    tmpfs:
      - /tmp
    volumes:
      - app-db:/var/www/data
    restart: unless-stopped
    environment:
      - TZ=${TZ}

  db-backup:
    container_name: grocy-db-backup
    image: ghcr.io/tiredofit/docker-db-backup
    links:
      - backend
    volumes:
      - ${HOME}/backups/grocy:/backup
      - ${HOME}/raspberry/scripts/backup-post-script.sh:/assets/custom-scripts/post-script.sh
      - app-db:/var/www/data
    environment:
      # - DEBUG_MODE=TRUE
      - DB01_TYPE=sqlite3
      - DB01_HOST=/var/www/data/grocy.db
      # - DB01_NAME=${DB_NAME}
      # - DB01_USER=${DB_USER}
      # - DB01_PASS=${DB_PASS}
      # - DEFAULT_BACKUP_BEGIN=0000    # backup starts immediately
      - DEFAULT_BACKUP_INTERVAL=1440       # backup every x minute - 1440 = 1 day
      - DEFAULT_CLEANUP_TIME=11520   # clean backups they are older than x minute - 11520 = 8 days
      - DEFAULT_CHECKSUM=SHA1
      - DEFAULT_COMPRESSION=GZ
      - DB01_SPLIT_DB=FALSE
      - CONTAINER_ENABLE_MONITORING=FALSE
      - TIMEZONE=${TZ}
    restart: unless-stopped

volumes:
  app-db:
