services:
  jotty:
    image: ghcr.io/fccview/jotty:latest
    container_name: jotty
    restart: unless-stopped
    #env_file: .env
    # env_file didn't work
    environment:
      - NODE_ENV=production
      - TZ=Asia/Ho_Chi_Minh
      - HTTPS=false
      - SERVE_PUBLIC_IMAGES=yes
      - SERVE_PUBLIC_FILES=yes
      - APP_URL=https://note.example.com
      - SSO_MODE=oidc
      - OIDC_ISSUER=https://auth.example.com
      - OIDC_CLIENT_ID=your_client_id
      - OIDC_CLIENT_SECRET=your_client_secret
      - SSO_FALLBACK_LOCAL=true
      - OIDC_ADMIN_GROUPS=admins
    user: 1000:1000
    ports:
      - 19969:3000
    volumes:
      # This stores your checklists, notes, users, and settings.
      - /home/ezcafe/backups/jotty/data:/app/data:rw
      # This contains custom themes and configuration files.
      - /home/ezcafe/backups/jotty/config:/app/config:ro
      # Improves performance by persisting cache between container restarts.
      - /home/ezcafe/backups/jotty/cache:/app/.next/cache:rw
    platform: linux/arm64
networks: {}
