services:
  ezbookkeeping:
    image: mayswind/ezbookkeeping
    container_name: ezbookkeeping
    restart: unless-stopped
    env_file: .env
    # environment:
    #   - TZ=${TZ}
    ports:
      - ${PORT}:8080
    # healthcheck:
    #   test: ["CMD", "pg_isready", "-U", "${DB_USER}"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5
    # networks:
    #   - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - data:/ezbookkeeping/data
      - log:/ezbookkeeping/log         # make sure the UID:GID is 1000:1000
      - storage:/ezbookkeeping/storage # make sure the UID:GID is 1000:1000

  db-backup:
    container_name: ezbookkeeping-db-backup
    image: ghcr.io/tiredofit/docker-db-backup
    links:
      - ezbookkeeping
    volumes:
      - ${HOME}/backups/database/ezbookkeeping:/backup
      - ${HOME}/raspberry/scripts/backup-pre-script.sh:/assets/scripts/pre/script.sh
      - ${HOME}/raspberry/scripts/backup-post-script.sh:/assets/scripts/post/script.sh
      - data:/ezbookkeeping/data
    environment:
      # - DEBUG_MODE=TRUE
      - DB01_TYPE=sqlite3
      - DB01_HOST=/ezbookkeeping/data/ezbookkeeping.db
      # - DB01_NAME=${DB_NAME}
      # - DB01_USER=${DB_USER}
      # - DB01_PASS=${DB_PASS}
      # - DEFAULT_BACKUP_BEGIN=0000    # backup starts immediately
      - DEFAULT_BACKUP_INTERVAL=1440       # backup every x minute - 1440 = 1 day
      - DEFAULT_CLEANUP_TIME=11520   # clean backups they are older than x minute - 11520 = 8 days
      - DEFAULT_CHECKSUM=SHA1
      - DEFAULT_COMPRESSION=GZ
      - DB01_SPLIT_DB=FALSE
      - CONTAINER_ENABLE_MONITORING=FALSE
      - TIMEZONE=${TZ}
    restart: unless-stopped

volumes:
  data:
  log:
  storage:

# networks:
#   proxy:
#     external: true