services:
  memos:
    image: neosmemo/memos:latest
    container_name: memos
    restart: unless-stopped
    env_file: .env
    volumes:
      - memos:/var/opt/memos
    ports:
      - ${PORT}:5230
    depends_on:
      - db

  db:
    image: postgres:16.1
    container_name: memos-db
    restart: unless-stopped
    env_file: .env
    healthcheck:
      test:
        ['CMD-SHELL', 'pg_isready -d "$${POSTGRES_DB}" -U $${POSTGRES_USER}']
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - data:/var/lib/postgresql/data/

  db-backup:
    image: rostislavdugin/postgresus:latest
    container_name: memos-db-backup
    restart: unless-stopped
    env_file: .env
    ports:
      - ${PORT_BACKUP}:4005
    depends_on:
      - db
    volumes:
      - /home/ezcafe/backups/memos:/postgresus-data

volumes:
   memos:
   data: