services:
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: syncthing
    user: 1000:1000
    restart: unless-stopped
    environment:
      # - PCAP=cap_chown,cap_fowner+ep
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    ports:
      - ${PORT}:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    volumes:
      - ${HOME}/backups:/var/syncthing
    # healthcheck:
    #   test: ["CMD", "wget" ,"--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:8384/rest/noauth/health"]
    #   interval: 1m
    #   timeout: 3s
